<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <display-name>Bibal_Flambeau_Vaubourg</display-name>
    <servlet>
        <servlet-name>Gestion_resa_et_emprunt</servlet-name>
        <servlet-class>Application.Gestion_resa_et_emprunt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Gestion_oeuvre_et_exemplaire</servlet-name>
        <servlet-class>Application.Gestion_oeuvre_et_exemplaire</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Gestion_usager</servlet-name>
        <servlet-class>Application.Gestion_usager</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Gestion_resa_et_emprunt</servlet-name>
        <url-pattern>/resa_et_emprunt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Gestion_oeuvre_et_exemplaire</servlet-name>
        <url-pattern>/oeuvre_et_exemplaire</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Gestion_usager</servlet-name>
        <url-pattern>/usager</url-pattern>
    </servlet-mapping>
</web-app>
